spring:
  application:
    name: Http_Clients
  datasource:
    url: jdbc:h2:./HttpClientDB
    username: admin
    password: admin123
  h2:
    console:
      enabled: true
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
    show-sql: true

server:
  port: 8082

githubHost: https://api.github.com/
guthubGetEndpoint: users/

