spring:
  application:
    name: ServiceA

server:
  port: 8085

#management configuration for the actuator

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    web:
      show-details: always
